.project_container{
    border: 30px solid #fff;
    outline: 2px solid rgb(1, 1, 1);
    border-radius: 12px;
    box-shadow: 5px 10px 0px 8px;
    width: 100%;
    height: 100%;
}

.project_flex{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.project_span{
    color: var(--tercer-color);
    font-weight: 600;
    font-size: 1.2rem;
}

.project_img{
    width: 100%;
    border-radius: 12px;
    /* object-fit: cover; */
}
@media(max-width: 650px){
    .project_container{
        border: 20px solid #fff;
        outline: 2px solid rgb(1, 1, 1);
        border-radius: 12px;
        box-shadow: 5px 8px 0px 6px;
        width: 100%;
        height: 100%;
    }
    
}
@media (max-width: 450px){
    .project_img{
        width: 100%;
        height: 40%;
        border-radius: 12px;
        /* object-fit: cover; */
    }
    .project_span{
        font-size: 1rem;
    }
    .project_title{
        font-size: 1rem;
    }
    .project_parrafo{
        font-size: .8rem;
    }
}