
.about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about_title_containe{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  margin-top: 5rem;
  padding: 1rem;
  width: 80%;
  margin-right: 10rem;
}

.about_title{
  margin-bottom: 2rem;
}
.about_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  
}
.about_parrafo{
  margin-bottom: 2rem;
  line-height: 1.5;
}

.about_figure{
  border: 30px solid #fff;
  outline: 2px solid rgb(1, 1, 1);
  border-radius: 12px;
  box-shadow: 15px 15px;
  width: 320px;
  height: 350px;
}
.about_imagen{
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.about_center{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about_articule{
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  align-items: flex-end;
}
.about_article_num{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about_span{
  font-size: 6rem;
}

@media (max-width: 1200px){
  
  .about_articule{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

  }
  .about_grid{
    width: 100%;
    margin-right: 0rem;
  }
  
}
@media (max-width: 800px){
  .about_grid{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5rem;
    padding: 1rem;
    width: 100%;
    margin-right: 0rem;
  }
  .about_figure{
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
  }
  .about_span{
    font-size: 4rem;
    
  }
  .about_lee{
    font-size: 1rem;
    width: 70%;
  }
  
}
@media (max-width: 600px){
  .about_title{
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .about_figure{
    margin-bottom: 2rem;
    width: 70%;
    /* height: 80%; */
  }
  .about_parrafo{
    margin-bottom: 2rem;
    line-height: 1.2;
  }
  .about_span{
    font-size: 2rem;
    margin-top: 2rem;
  }
  .about_article_num{
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  .about_lee{
    font-size: 1rem;
  }
  .about{
    padding: 2rem;
  }
  
}
@media (max-width: 450px){
  .about_figure{
    margin-bottom: 2rem;
    width: 90%;
    
  }
  .about_span{
    font-size: 1.5rem;
    
  }
  .about_lee{
    font-size: .8rem;
  }
  
}




