.experience_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience_container h2{
    margin-bottom: 5rem;
    font-size: 5rem;
}
.experience_title{
    font-size: 5em;
    margin-bottom: 3rem;
}

.detalle_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.detalle_article{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 4rem;
}
.detalle_span{
    color: rgba(17, 17, 17, 0.722)
}
.detalle_subtitule{
    font-size: 1.5rem;
}
.detalle_link{
    color: #B63E9F
}

@media (max-width: 1100px){
    .detalle_article{
        width: 60%;
    }
}

@media (max-width: 900px){
    .detalle_article{
        width: 70%;
    }
}
@media (max-width: 770px){
    .detalle_article{
        width: 80%;
    }
    .experience_title{
        font-size: 4rem;
        
    }
}
@media (max-width: 600px){
    .detalle_article{
        width: 60%;
    }
    .experience_title{
        font-size: 3rem;
    }
    .detalle_span{
        color: rgba(17, 17, 17, 0.722)
    }
    .detalle_subtitule{
        font-size: 1.5rem;
    }
    .detalle_link{
        color: #B63E9F
    }
}
@media (max-width: 450px){
    .detalle_article{
        width: 60%;
    }
    .experience_title{
        font-size: 3rem;
    }
    .detalle_subtitule{
        font-size: 1.2rem;
    }
}
@media (max-width: 380px){
    
    .experience_title{
        font-size: 2.5rem;
    }
    .detalle_subtitule{
        font-size: 1rem;
    }
}